{% extends 'base.html.twig' %}

{% block title %}Create recipe{% endblock %}

{% block body %}
    <h1 class="my-3">Edit recipe</h1>
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        <h3 class="my-3">Instructions</h3>
        <button type="button" class="add_item_link btn btn-primary mb-3" data-collection-holder-class="instructions">Add instruction</button>
        <ul class="list-group instructions" data-index="{{ form.instructions|length > 0 ? form.instructions|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.instructions.vars.prototype)|e('html_attr') }}">
        {% for instruction in form.instructions %}
            <li>{{form_row(instruction) }}</li>
        {% endfor %}
        </ul>

        <h3 class="my-3">Ingredients</h3>
        <button type="button" class="add_item_link btn btn-primary mb-3" data-collection-holder-class="ingredients">Add ingredient</button>
        <ul class="list-group ingredients" data-index="{{ form.ingredients|length > 0 ? form.ingredients|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
        {% for ingredient in form.ingredients %}
            <li>
                {{ form_row(ingredient) }}
            </li>
        {% endfor %}
        </ul>
    {{ form_end(form) }}
    <script>
        document
        .querySelectorAll('.add_item_link')
        .forEach(btn => {
            btn.addEventListener("click", addFormToCollection)
        });

        function addFormToCollection(e) {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

        const item = document.createElement('li');

        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
            /__name__/g,
            collectionHolder.dataset.index
            );
        const wrapper = document.createElement('div');
        wrapper.className = 'mb-3';
        wrapper.appendChild(item);
        collectionHolder.appendChild(wrapper);

        collectionHolder.dataset.index++;
        
        };
    </script>
{% endblock %}
